/*Archivo css */

/*Variable base para controlar todos los colores del disenio */

:root{
    /* Azul base */
    --blueBase: 210;

    /*Tonos de azul */
    --blue: hsl(var(--blueBase) 90% 55%);
    --blue2: hsl(var(--blueBase) 88% 42%);
    --blue3: hsl(var(--blueBase) 95% 65%);

    /*Metal */
    --metal: hsl(var(--blueBase) 12% 92%);
    --metal2: hsl(var(--blueBase) 8% 84%);

    /* colores de la decoracion */
    --anillo: hsl(var(--blueBase) 92% 52%);
    --anillo2: hsl(var(--blueBase) 92% 60% / .35);
    --negro: hsl(var(--blueBase) 18% 12%);
    --blanco: hsl(var(--blueBase) 10% 98%);

    /*Color del fondo */
    --bg: hsl(var(--blueBase) 35% 6%);

}

/* normalizar el box-model para facilitar el uso de grid y flex */
*{
    box-sizing: border-box;
}

/*body del fondo */
body{
    margin: 0;
    min-height: 100svh;
    display: grid;
    place-items: center;

    background: var(--bg);
    color: var(--blanco);  
}

/* Contenedor */
.escenario{
    display: grid;
    place-items: center;
    /*Uso de clamp */
    padding: clamp(16px, 4vw, 40px);
    gap: clamp(10px, 2vw, 18px);
}

/* Anillos que rodea a R2-D2*/
.anilloExterior{
    width: clamp(260px, 60vw, 560px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: clamp(12px, 2.8vw, 24px) solid var(--anillo);

    outline: clamp(6px, 1.5vq, 14px) solid hsl(var(--blueBase) 25% 3% / .85);
    outline-offset: -clamp(14px, 3vw, 26px);

    display: grid;
    place-items: center;
    padding: clamp(14px, 3vw, 26px);

    background: hsl(var(--blueBase) 30% 12%);
}

/* Uso de :has */
@supports(selector(:has(*))){
    .anilloExterior:has(.droide:hover){
        border-color: hsl(var(--blueBase) 100% 60%);
    }
}

/*R2-D2*/
.droide{
    width: min(92%, 420px);
    display: grid;
    grid-template-rows: auto auto auto;
    gap: clamp(8px, 1.6vq, 14px);
    place-items: center;
}

/*Efecto del hover para el R2-D2*/
.droide:hover{
    transform: scale(1.01); /*Uso de transform para escalar el anillo y no para posicionamiento*/
}

